<h1><%= @passenger.name %></h1>

<section id='flight-numbers'>
  <% @passenger.flights.each do |flight| %>
    <p><%= link_to "#{flight.number}", "/flights/#{flight.id}" %></p>
  <% end %>
</section>
